<h2 id="error_title">ERROR SIGNUP/LOGIN</h2>
{{#if messages}}   
    <p>{{messages}}</p>
{{/if}}
<div id="back_buttons">
    <button id="back_button"><a href="/login">Back to login</a></button>
    <button id="back_button"><a href="/signup">Back to sign up</a></button>
</div>