<h1>TE ENVIAREMOS UN MAIL</h1>

<form  action="/api/sessions/mailAvisoPost" method="post"  id="Form RestaurarPasword">

  Email:
  <input type="email" name="email" id="email" />

  <input type="submit" value="ENVIAR" />

</form>