<h1>Carrito</h1>

<h2>Lista de Productos</h2>
<div id="productContainer" class="cards-container">

</div>

{{!--
<script src="/socket.io/socket.io.js"></script> --}}
<script src="/js/carts.js"></script

