

<button id="github" onclick="location.href='/api/sessions/auth/github'">GITHUB</button>

<p >email and password</p>

<form action="/api/sessions/login" method="post">

    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="Login">
    <button><a href="/api/views/restaurar">Restore password</a></button>
</form>