
<h2>Agregar producto</h2>
<form id="Form agregar producto">

  Title:
  <input type="text" name="title" id="title" />

  Description:
  <input type="text" name="description" id="description" />

  Status:
  <input type="text" name="status" id="status" />

  Price:
  <input type="number" name="price" id="price" />

  Code:
  <input type="text" name="code" id="code" />

  Stock:
  <input type="number" name="stock" id="stock" />

  Category:
  <input type="text" name="category" id="category" />

  Thumbnails:
  <input type="text" name="thumbnails" id="thumbnails" />

  Id:
  <input type="number" name="Id" id="Id" />

  <input type="submit" value="ENVIAR" />

</form>

<br></br>

<h2>Eliminar producto</h2>
<form id="Form delete product">

  Title:
  <input type="text" name="title" id="titleDelete" />

  Id:
  <input type="text" name="Id" id="idDelete" />

  <input type="submit" value="ENVIAR PRODUCTO A ELIMINAR" />

</form>

<br></br>

<h2>Lista de productos</h2>
<div id="divRealTimeProduct">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>