<h2 id="reset_title">Reset your password</h2>
<div id="reset-div_form">
    <form action="/api/sessions/restaurar" method="post">
    Email: <input id="form_line" type="email" name="email" id="email">
    <br>
    New Password: <input id="form_line" type="password" name="password" id="password">
    <br>
    <input id="reset_button" type="submit" value="Reset">
    </form>
</div>
